@font-face {
    font-family: kudos-font;
    src: url('./Playball.ttf');
  }

.propsImage{
    width: 205px;
    height: 195px;;
}

.board-card{
    background-color: #fff;
    border: 2px solid rgb(134, 107, 189);
    border-right: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 205px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px;

}
.board-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(168, 124, 189);
    color: black;
  }
  .board-card::before,
  .board-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3 ease, opacity 0.3 ease, opacity 0.3 ease;
    z-index: -1;
  }
  
  .board-card::before {
    transform: translate(5px, 5px) scale(0.95);
    opacity: 0;
  }
  
  .board-card::after {
    transform: translate(10px, 10px) scale(0.9);
    opacity: 0;
  }
  
  .board-card:hover::before {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  
  .board-card:hover::after {
    transform: translate(-5px, -5px) scale(1);
    opacity: 0.1;
  }
.board-details{
 padding: 10px;
}

.board-title{
    font-size: 18px;
    font-family: kudos-font;
}
.card-button{
    display: flex;
    flex-direction: row;

}
.view-board{
    background-color: rgb(102, 152, 199);
    color: black;
    display: flex;
    font-size: medium;
    font-family: kudos-font;
}

.delete-board{
    background-color: rgb(202, 35, 35);
    display: flex;
    color: black;
    font-size: medium;
    font-family: kudos-font;
}