.app-header {
    background-color: rgb(145, 188, 158);
    align-items: center;
    color: white;
    padding: 10px;
    margin: 0;
  }

.app-logo{
    height: 50px;
    margin-right: 10px;
}

.app-name{
    font-size: 30px;
    color: white;
}
