@font-face {
    font-family: header-font;
    src: url('./web-font.ttf');
  }

.app-header {
    background-color: rgb(177, 120, 223);
    align-items: center;
    font-family: header-font;
    padding: 10px;
    margin: 0;
  }

.app-logo{
    height: 50px;
    margin-right: 10px;
}

.app-name{
    font-size: 30px;
    color: white;
}
