.search-form{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}

